@model List<lab.Models.Following>

@{
    ViewBag.Title = "FollowingMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FollowingMe</h2>

<table class="table">
<tr>
    <th>
     Tên
    </th>
    <th>
      Email
    <th>
        Chi tiết
    </th>



</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Followee.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Followee.Email)
        </td>
        <td>
            
        </td>

    </tr>
}
</table>